/* general styling */
:root {
  --smaller: .75;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  align-items: center;
  background-color: ;
  display: flex;
  font-family: -apple-system, 
    BlinkMacSystemFont, 
    "Segoe UI", 
    Roboto, 
    Oxygen-Sans, 
    Ubuntu, 
    Cantarell, 
    "Helvetica Neue", 
    sans-serif;
}

.container {
  color: #333;
  margin: 0 auto;
  text-align: center;
}

h1 {
  font-weight: normal;
  letter-spacing: .125rem;
  text-transform: uppercase;
}

li {
  display: inline-block;
  font-size: 1.5em;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
}

li span {
  display: block;
  font-size: 4.5rem;
}

.emoji {
  display: none;
  padding: 1rem;
}

.emoji span {
  font-size: 4rem;
  padding: 0 .5rem;
}

.music {
	display: none;
}

@media all and (max-width: 768px) {
  h1 {
    font-size: calc(1.5rem * var(--smaller));
  }
  
  li {
    font-size: calc(1.125rem * var(--smaller));
  }
  
  li span {
    font-size: calc(3.375rem * var(--smaller));
  }

}

body {
  background-color: #f0f0f0;
  font-family: 'Arial', sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

.container {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.balloon {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #ff69b4; /* Pink */
  box-shadow: 0 0 10px #ff69b4;
  animation: fall 5s linear infinite;
}

.balloon:nth-child(1) {
  background-color: #ffcc00; /* Yellow */
  animation-delay: 0.5s;
}

.balloon:nth-child(2) {
  background-color: #00bfff; /* Blue */
  animation-delay: 1s;
}

.balloon:nth-child(3) {
  background-color: #008000; /* Green */
  animation-delay: 1.5s;
}

.balloon:nth-child(4) {
  background-color: #ff0000; /* Red */
  animation-delay: 2s;
}

.balloon:nth-child(5) {
  background-color: #800080; /* Purple */
  animation-delay: 2.5s;
}

.balloon:nth-child(6) {
  background-color: #ffa500; /* Orange */
  animation-delay: 3s;
}

.balloon:nth-child(7) {
  background-color: #0000ff; /* Navy */
  animation-delay: 3.5s;
}

.balloon:nth-child(8) {
  background-color: #0000ff; /* Navy */
  animated-delay: 3.5s;
